/* Primeramente debemos indicar a que elementos o etiquetas vamos a modificar, por ejemplo, los párrafos <p>, luego abrimos y cerramos llaves {} y dentro de estas colocamos las propiedades que queremos modificar */

.parrafo1 {
    color: firebrick;
    font-family: Poet, sans-serif; /* tipo de letra primaria y secundaria */
    font-size: 20px;
    text-align: center;
    /* font-weight: bolder;  */ /* negrita */
    font-style: italic;
    line-height: 1.5; /* espacio entre líneas */
    letter-spacing: 1px; /* espacio entre letras */
    text-transform: capitalize; /* capitalizar la primera letra de cada palabra */
}

h1 {
    text-align: center;
}

ul {
    list-style-position: inside; /* coloca las viñetas como parte del contenido de la lista */
    text-align: center;
}

/* A continuación vamos a modificar las propiedades de unas clases en específico. Para ello, en vez de colocar primero el nombre de la etiqueta, colocamos un punto (.) y el nombre de la clase */

.tengo {
    color : green;
    text-decoration: line-through; /* tachado */
}

.no-tengo {
    color : red;
}

/* Por último, vamos a modificar las propiedades de un id en específico. Para ello, en vez de colocar primero el nombre de la etiqueta, colocamos una almohadilla (#) y el nombre del id */

#opcional {
    color : purple;
}

.caja1 {
    border: 2px solid black; /* borde, primero va el grosor, luego el estilo y por último el color */
    border-radius: 10px; /* bordes redondeados */
    /* width: 125px; ancho */
    /* height: 50px; alto */
    display: block; /* para que el contenido se acomode en una sola línea */
    padding: 20px 10px; /* espacio entre el borde y el contenido. Este afecta el tamaño total del elemento, al ser un short hand, los valores del padding se asignan en el sentido de las agujas del reloj, es decir arriba, derecha, abajo, izquierda. Si solo se colocara un valor se asignaría a todos los lados, y si se colocan 2 valores, el primero afectaria arriba y abajo y el segundo izquierda y derecha */
    margin: 20px; /* espacio entre el borde y el resto de la página */
}

.caja2 {
    background: lightblue; /* color de fondo */
    /* width: 125px; ancho */
    /* height: 50px; alto */
    display: block; /* para que el contenido se acomode en una sola línea */
    padding: 40px 20px; /* espacio entre el borde y el contenido. Este afecta el tamaño total del elemento, al ser un short hand, los valores del padding se asignan en el sentido de las agujas del reloj, es decir arriba, derecha, abajo, izquierda. Si solo se colocara un valor se asignaría a todos los lados, y si se colocan 2 valores, el primero afectaria arriba y abajo y el segundo izquierda y derecha */
}

.formulario {
    background: lightgray;
    border: 2px solid black; 
    border-radius: 10px; 
    display: block; 
    padding: 20px; 
    margin: 20px; 
}

.linea {
    border: 3px solid black;
    border-radius: 12px;
    margin: 20px;
}

.box {
    width: 125px;
    height: 125px;
    margin: 10px;
    border-radius: 12px;
    border: 5px solid black;
}

.box1 {
    box-sizing: content-box; /* el tamaño del elemento no incluye el padding y el borde. Esta es la propiedad por defecto */
    background: rgba(225, 60, 150, 75%); /* color de fondo con opacidad */
    padding: 25px;
}

.box2 {
    box-sizing: border-box; /* el tamaño del elemento incluye el padding y el borde y estos últimos no afectan el tamaño de la caja */
    background: #f6ae; /* color de fondo en hexadecimal, funciona igual que RGBA, primero se coloca uno o dos valores para el rojo, luego para el verde, luego para el azul yluego para la opacidad */
    padding: 25px;
}

.notificacion {
    background: #ccc;
    border-left: 5px solid #555;
    padding: 15px 20px;
    font-family: sans-serif;
    border-radius: 0px 12px 12px 0px;
}

.titulo-notificacion {
    font-size: 22px;
    font-weight: bolder;
    margin: 0;
}

.hora-notificacion {
    font-size: 15px;
    color: #555;
}

.mensaje-notificacion {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
}

.remitente-notificacion {
    font-size: 16px;
    margin: 0;
    text-align: right;
    color: #555;
    font-weight: bold;
}

/* En cuanto a las diferentes unidades de medida,tenemos las absolutas, como px, cm, mm, in y las relativas como los % (depende del tamaño del contenedor), em (depende del tamaño de la fuente de la etiqueta padre mas próxima), rem (depende del tamaño de la fuente de la etiqueta html), y finalmente tenemos vh y vw, que serían relativos a la altura y anchura del viewport respectivamente */

/* Propiedades del fondo */

.fondo {
    margin: auto;
    width: 600px;
    height: 400px;
    background-color: transparent; /* color de fondo */
    background-image: url("https://www.w3schools.com/w3images/lights.jpg"); /* imagen de fondo */
    background-repeat: no-repeat; /* no repetir la imagen de fondo */
    background-size: cover; /* cubrir todo el contenedor */
    background-position: center; /* centrar la imagen de fondo */
    background-attachment: fixed; /* fijar la imagen de fondo incluso al hacer scroll */
}

/* Todo esto va en el shorthand background con el siguiente orden: background: image position / size repeat attachmente color, y si no queremos colocar alguna propiedad simplemente continuamos con la siguiente  */

.fondo-gradiente {
    margin: 0;
    background: red;
    width: 100%;
    padding: 20px;
}

.titulo-gradiente {
    margin: 0;
    font-family: sans-serif;
    font-size: 26px;
    color: white;
    text-align: center;
    padding: 20px;
}

.gradiente {
    margin: 20px;
    width: 300px;
    height: 400px;
    border-top: 6px solid #900;
    border-radius: 7px;
    display: inline-block;
}

.gradiente1 {
    background: linear-gradient(transparent, #000a); /* degradado lineal de arriba a abajo, se le pueden agregar porcentajes a cada color para determinar el tamaño */
}

/* .link{
    margin: 0;
    width: 100%;
    height: 325px;
} */

.gradiente2 {
    background: radial-gradient(transparent, #000a); /* degradado radial como viñeta */
}

.gradiente3 {
    background: linear-gradient(to right, #fffa, transparent, #000a); /* degradado lineal de izquierda a derecha */
}

.gradiente4 {
    background: conic-gradient(#fffa, #000a); /* degradado cónico */
}

.titulo-gradiente-sombra {
    margin: 0;
    font-family: sans-serif;
    font-size: 26px;
    text-align: center;
}

.gradiente-sombra {
    margin: auto;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;;
    background: radial-gradient(transparent 5%, #0003);
    border-top: 6px solid #000;
    border-radius: 7px;
    box-shadow: 0 0 40px 0 #0007; /* sombra para cajas, el primer valor es el movimiento a la derecha, el segundo hacia abajo, el tercero el grosor, el cuarto la expansión y el último el color */ 
}

.parrafo-sombra {
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    text-shadow: 0 0 10px #000d; /* sombra para texto, el primer valor es el movimiento a la derecha, el segundo hacia abajo, el tercero el grosor y el último el color */
}

.pokemon {
    width: 100%;
    filter: drop-shadow(0 0 10px #06fd); /* sombra para imágenes sin fondo, el primer valor es el movimiento a la derecha, el segundo hacia abajo, el tercero el grosor y el último el color */
}